body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
form {
  background-color: white !important;
}
li a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 170%;
}
.sidebar {
  max-height: 400px;
  overflow-y: visible;
}
li {
  list-style-type: none;
}
.modal-open-fixed {
  overflow: hidden !important;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 36px; /* Preferred icon size */
  display: block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* .footer__container {
  position: fixed;
  bottom: 0;
  left: 0;
  top: auto;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer__container {
    display: none;
  }
} */
/* Webkit based browsers */
/* ::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #1e1c1c;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
} */
.see_less_btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.user-link {
  text-decoration: none;
  cursor: pointer;
}
.user-link:hover {
  text-decoration: underline;
}
.border_light {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.border_dark {
  border-top: 1px solid rgb(58, 58, 58);
  border-bottom: 1px solid rgb(58, 58, 58);
}
.border__dark {
  border: 1px solid rgb(74, 74, 74);
}
.nav_link {
  color: #ccc;
}
.nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #ccc;
}

@media only screen and (min-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 48px;
  }

  .header--hidden {
    transform: translateY(-100%);
  }

  .header--visible {
    transform: translateY(0);
  }
  .searchResults {
    position: absolute;
    left: 70%;
    top: calc(100% + 5px);
  }
}

@media only screen and (max-width: 767px) {
  .header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
  }
  .searchResults {
    width: 90%;
  }
  .search__input {
    width: 90%;
  }
}
